*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif ;
    
    
    }
    
#bodyy{

background: linear-gradient( #8E0E00, #1F1C18  ) ;



}

h1{

color: beige;

}


    
 #gform{

    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 70px;



 }   
    
    
    
    
    .input-group1{
    
    width: 90%;
    max-width: 600px;
    position: relative;
    
    
    }
    
    
    
    #email-field{
    
    display: block;
    width: 100%;
    border: 0 ;
    border-bottom: 2px solid #555;
    background: transparent;
    outline: none;
    font-size: 26px;
    padding:5px 2px;
    position: relative;
    z-index: 10;
    
    }
    #email-label{
    
    display: block;
    position: absolute;
    bottom: 5px;
    left: 2px;
    color: white;
    font-size: 18px;
    transition: bottom 0.3s;
    
    
    
    }
    #email-error{
    
    position: absolute;
    top: 100%;
    left: 2px;
    font-size: 16px;
    font-weight: 400;
    color: darkcyan;
    
    }
    
    .input-group2 {
    
    width: 90%;
    max-width: 600px;
    position: relative;
    
    
    }    
    
    #name-field{
    
        display: block;
        width: 100%;
        border: 0;
        border-bottom: 2px solid #555;
        background: transparent;
        outline: none;
        font-size: 26px;
        padding:5px 2px;
        position: relative;
        z-index: 10;
        
    }
    #name-label{
    
        display: block;
        position: absolute;
        bottom: 5px;
        left: 2px;
        color: white;
        font-size: 18px;
        transition: bottom 0.3s;
        
        
        
    }
    #name-error{
    
        position: absolute;
        top: 100%;
        left: 2px;
        font-size: 16px;
        font-weight: 400;
        color:darkcyan
        
        }
    
        .input-group3 {
    
            width: 90%;
            max-width: 600px;
            position: relative;
            
            
    } 
    
    #phone-field{
    
        display: block;
        width: 100%;
        border: 0;
        border-bottom: 2px solid #555;
        background: transparent;
        outline: none;
        font-size: 26px;
        padding:5px 2px;
        position: relative;
        z-index: 10;
        
    }
    #phone-label{
    
        display: block;
        position: absolute;
        bottom: 5px;
        left: 2px;
        color: white;
        font-size: 18px;
        transition: bottom 0.3s;
        
        
        
    }
    #phone-error{
    
        position: absolute;
        top: 100%;
        left: 2px;
        font-size: 16px;
        font-weight: 400;
        color:darkcyan
        
    }
    #cards{
    
    display: none;
    
    }
    #table{
    
    display: none;
    
    
    }

.form-label{


color: white;

}
#switching{

display: none;

}
.input-group2 {
    
    width: 90%;
    max-width: 600px;
    position: relative;
    
    
} 
#indicator{

display: none;



}